.phones {
  position: relative;
  z-index: 6;

  padding: 5px 13px 5px 35px;

  font-weight: 500;
  font-size: var(--fs-20-16);
  line-height: 120%;
  font-family: $raleway;

  @include media("max", "sm") {
    padding: 5px 13px 5px 5px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 30px;
    height: 30px;

    background-image: url(../images/ico/ico-phone.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-50%);
    cursor: pointer;

    @include media("max", "sm") {
      content: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: 0;

    width: 0;
    height: 0;

    border-width: 4px;
    border-style: solid;
    border-color: $color-primary transparent transparent;

    pointer-events: none;
  }

  &__main-link {
    transition: all 0.1s ease-in;

    &:hover {
      color: $color-red;
    }
  }

  &:hover {
    &::after {
      margin-top: -6px;

      transform: rotate(180deg);
    }
    .phones__dropdown-list {
      display: block;
    }
  }
  &__dropdown-list {
    position: absolute;
    top: 27px;
    right: -4px;
    z-index: 100;

    display: none;

    white-space: nowrap;

    background-color: $bg-blue-liner;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
  }

  &__dropdown-item {
    padding: 0 17px;

    &:last-child {
      .phones__dropdown-link {
        border: none;
      }
    }
  }

  &__dropdown-link {
    display: inline-block;
    padding: 12px 0;

    font-size: var(--fs-18-14);
    line-height: 120%;

    border-bottom: 1px solid $color-primary;

    transition: all 0.1s ease-in;

    &:hover {
      color: $color-red;
    }
  }
}
